	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/08/2020 06:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff2") format("woff2"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-horse-grazing-black-silhouette:before { content: "\f100"; }
.flaticon-newspaper:before { content: "\f101"; }
.flaticon-news:before { content: "\f102"; }
.flaticon-statistics:before { content: "\f103"; }
.flaticon-drought:before { content: "\f104"; }
.flaticon-milk:before { content: "\f105"; }
.flaticon-meat:before { content: "\f106"; }
.flaticon-livestock:before { content: "\f107"; }
.flaticon-sheep:before { content: "\f108"; }
.flaticon-region:before { content: "\f109"; }