/* Fixed Scroll To Top Button */
.scrollToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.scrollToTop.active {
	opacity: 1;
	visibility: visible;
}

.scrollToTop a {
	width: 50px;
	height: 50px;
	display: table;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.scrollToTop a i {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.scrollToTop a:hover, .scrollToTop a:active, .scrollToTop a:focus {
	text-decoration: none;
	outline: none;
}

/* Animate GIF */
img.animated-gif{
	height: auto;
	max-width: 100%;
	padding-bottom: 20px;
}

/* Chck and Cross Icons */
.fa-check {
	font-size: 100px;
	color: #4e9525;
}

.fa-check-techniques {
	font-size: 50px;;
}

.fa-times {
	font-size: 100px;
	color: red;
}

.fa-times-techniques {
	font-size: 50px;
}

.service-techniques {
	padding: 10px 0px;
	margin-bottom: 20px;
	text-align: justify;
	background: #fff;
	border-radius: 4px;
	position: relative;
	display: block;
	box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
}